@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
:root {
    --main-theme-color: #00000000;
    --theme-transparency: #000000A0;
    --theme-background-image: url('');
    --home-icon-image: url('');
    --home-icon-image-zoom: 100%;
    --home-icon-image-position: center;

    --server-listing-width: 72px;
    --font-size: 100%;

    --mention-color: #faa61a0d;
    --mention-sider: #faa61aff;
    --mention-hover-color: #faa61a14;
    --category-hover-color: #3cca8aff;
    --unread-server-animation: none;

    --video-screen-button-background-color: #c8c8c833;
    --video-screen-button-foreground-color: #ffffffff;
    --video-screen-button-background-hovor-color: #c8c8c866;
    --video-screen-button-foreground-hovor-color: #ffffffff;

    --member-listing-role-color: #FFFFFFFF;
    --small-user-popout-background-image: url('');
    --small-user-popout-background-transparency: #00000099;
    --small-user-popout-background-image-position: top;
    --big-user-popout-background-image: url('');
    --big-user-popout-background-transparency: #00000099;
    --big-user-popout-background-image-position: center;

    --code-markup-background-color: #000A;
    --code-markup-border: 1px solid transparent;

    --message-box-transparency: #0000;
    --embed-background-transparency: #0006;
    --message-hover-buttons-background: #c8c8c81a;
    --context-menu-transparency: #0f0f0fcc;

    --add-discover-icon-transparency: #0000;
    --add-discover-icon-color: #43b581;

    --channel-limit-count-color: #43b581;
    --channel-limit-background-left: #c8c8c81a;
    --channel-limit-background-right: #c8c8c833;

    --scrollbar-color: #c8c8c833;
    --unread-message-divider-color: #f0474740;
    --unread-message-divider-font-color: #FFFF;

    --new-messages-bar-background-color: #7289DA80;
    --new-messages-bar-font-color: #FFFF;

    --emoji-menu-background-color: #0008;
    --emoji-menu-sider-background-color: #0008;
    --emoji-menu-server-header-background-color: #0008;
    --emoji-menu-bottom-bar-background-color: #0008;
    --emoji-menu-search-bar-background-color: #0008;

    --message-search-menu-background-color: #000A;
    --message-search-container-background-color: #0002;
    --message-search-result-background-color: #0002;

    --text-voice-channel-color: #A0A0A0FF;
    --text-voice-channel-hover-color: #FFFFFF;
    --text-voice-channel-selected-text-color: #FFFFFFFF;

    --unread-text-channel-color: #00A0FF;
    --unread-text-channel-bubble-color: #00A0FF;

    --folder-background-color: #00000040;
    --expanded-folder-background-color: #00000000;
    
    --reaction-emoji-background-color: #00000080;
    --reaction-emoji-border-color: 1px solid transparent;
    --reaction-emoji-hover-background-color: #00000090;
    --reaction-emoji-hover-border-color: #000000A0;

    --columns: 1;
    --guildsize: 40;
    --guildgap: 1;
    --aligndms: 0;
    --searchColor:#000000A0;
}
.avatar-3mTjvZ,
.subscriptionsRedirectContainer-zD3U79,
.notice-2OK8bw,
.accountProfileCard-lbN7n-,
.noItemsCard-5EOcCl {
    background-color: var(--searchColor) !important;
}

.fieldList-in8WkP,
.background-3d_SjE {
    background-color: transparent !important;
}

.side-2ur1Qk .separator-2wx7h6 {display: none !important;}
#bd-settings-sidebar .ui-tab-bar-header, .side-2ur1Qk .header-2Kx1US {
    width: 100%;
}

.container-2o3qEW {
    background-color: transparent !important;
}
